* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #091921;
}

#clock {
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 -10px 20px rgb(0, 238, 255), 0 10px 20px rgb(0, 238, 255), inset 0 -5px 15px rgba(0, 238, 255, 0.151), inset 0 10px 15px rgba(0, 238, 255, 0.151);
}

#clock::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 247, 255);
    border-radius: 50%;
    z-index: 10000;
}

#clock #hour, #clock #minute, #clock #second {
    position: absolute;
}

#clock #hour, #hr {
    height: 160px;
    width: 160px;
}

#clock #minute, #min {
    height: 190px;
    width: 190px;
}

#clock #second, #sec {
    height: 230px;
    width: 230px;
}

#hr, #min, #sec {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

#hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    z-index: 10;
    background-color: #ff105e;
    border-radius: 6px 6px 0 0;
}

#min:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    z-index: 11;
    background-color: rgb(72, 255, 0);
    border-radius: 6px 6px 0 0;
}

#sec:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 150px;
    z-index: 12;
    background-color: white;
    border-radius: 6px 6px 0 0;
}

#clock:after {
    content: 'Shreyas';
    color: white;
    margin-top: 130px;
    font-size: 16px;
    letter-spacing: 3px;
}

@media only screen and (max-width:500px) {
    #clock {
        height: 250px;
        width: 250px;
        box-shadow: 0 -2px 20px rgb(0, 238, 255), 
        0 2px 20px rgb(0, 238, 255),
        inset 0 -5px 15px rgba(0, 238, 255, 0.151), 
        inset 0 10px 15px rgba(0, 238, 255, 0.151);
    }
    #clock::before {
        width: 8px;
        height: 8px;
    }
    #clock #hour, #hr {
        height: 80px;
        width: 80px;
    }
    #clock #minute, #min {
        height: 90px;
        width: 90px;
    }
    #clock #second, #sec {
        height: 110px;
        width: 120px;
    }
    #hr:before {
        width: 4px;
        height: 45px;
        border-radius: 8px 8px 0 0;
    }
    #min:before {
        width: 4px;
        height: 42px;
        border-radius: 8px 8px 0 0;
    }
    #sec:before {
        width: 4px;
        height: 70px;
        border-radius: 10px 10px 0 0;
    }
    #clock:after {
        margin-top: 58px;
        font-size: 10px;
    }
}
